@import "../../variables.scss";

.toaster-wrapper {
  min-width: 120px;
  font-size: 24px;
  font-weight: 700;
  position: fixed;
  padding: 18px;
  background: $app-accent-color;
  border: 1px solid $app-border-color;
}
