.App {
  text-align: center;
  .app-contents {
    margin: 66px;
    display: flex;
    flex-direction: column;
  }
  .flat-header {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 66px;
    .total-expense {
      margin-left: 18px;
      font-weight: 500;
    }
  }
  .users-section {
    display: flex;
    flex-direction: row;
    .user-wrapper {
      margin: 18px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      .user-icon-and-name {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .user-icon {
          justify-self: center;
          align-self: center;
          width: 42px;
          height: 42px;
        }
        .user-name {
          margin-top: 18px;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .user-stats {
        flex-grow: 0;
        text-align: left;
        .user-net {
          .user-net-text {
            color: green;
            &.red {
              color: red;
            }
          }
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
