$app-border-color: #535353;
$app-main-color: #22243c;
$app-accent-color: #333255;
$app-header-color: #735afb;

$app-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$app-gradient-background: rgb(2, 0, 36);
$app-gradient: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(109, 63, 167, 1) 35%,
  rgba(171, 33, 167, 1) 100%
);

.App {
  background-color: $app-main-color;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .app-contents {
    margin: 66px;
    display: flex;
    flex-direction: column;
  }
  .flat-header {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
    .flat-text {
      display: flex;
      flex-direction: row;
      text-align: left;
      padding: 8px;
      .flat-text-header {
        font-size: 18px;
        font-weight: normal;
        margin-right: 8px;
        text-align: left;
      }
      span {
        font-size: 18px;
        min-width: 90px;
        text-align: right;
      }
    }
  }
  .users-section {
    display: flex;
    flex-direction: row;
    .user-wrapper {
      box-shadow: $app-box-shadow;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      position: relative;
      margin: 18px;
      padding: 18px;
      background-color: $app-accent-color;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .user-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .user-triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 40px 40px 0 0;
          border-color: $app-header-color transparent transparent transparent;
        }
        .you-text {
          font-size: 12px;
          font-weight: bold;
          position: absolute;
          top: 1px;
          left: -2px;
          padding: 3px;
          transform: rotate(-45deg);
        }
      }
      .user-contents-wrapper {
        display: flex;
        flex-direction: row;
        .user-icon-and-name {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          .user-icon {
            margin-top: 8px;
            justify-self: center;
            align-self: center;
            width: 75px;
            height: 75px;
          }
          .user-name {
            margin-top: 18px;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
      .user-stats {
        display: flex;
        flex-direction: column;
        .user-stat-line {
          flex-grow: 1;
          padding: 8px;
          display: flex;
          flex-direction: row;
          white-space: nowrap;
          border-bottom: 1px solid $app-border-color;
          .user-stat-text {
            text-align: left;
            margin-right: 18px;
            flex-grow: 1;
          }
          .right-number {
            flex-grow: 0;
            text-align: right;
            font-weight: 500;
          }
        }
      }
      .user-net {
        margin: 18px 0;
        flex-grow: 1;
        font-size: 18px;
        text-align: center;
        .user-net-text {
          margin-left: 18px;
          color: green;
          &.red {
            color: red;
          }
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background: $app-header-color;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .App {
    .app-contents {
      margin: 18px;
    }
    .users-section {
      display: flex;
      flex-direction: column;
      .user-wrapper {
        .user-contents-wrapper {
          flex-direction: column;
          .user-icon-and-name {
            .user-icon {
              width: 42px;
              height: 42px;
            }
            .user-name {
              white-space: wrap;
            }
          }
          .user-stats {
            font-size: 14px;
          }
        }
      }
    }
  }
}
