$app-border-color: #535353;

.App {
  text-align: center;
  .app-contents {
    margin: 66px;
    display: flex;
    flex-direction: column;
  }
  .flat-header {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 66px;
    .total-expense {
      margin-left: 18px;
      font-weight: 500;
    }
  }
  .users-section {
    display: flex;
    flex-direction: row;
    .user-wrapper {
      margin: 18px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .user-contents-wrapper {
        display: flex;
        flex-direction: row;
        .user-icon-and-name {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          .user-icon {
            margin-top: 8px;
            justify-self: center;
            align-self: center;
            width: 75px;
            height: 75px;
          }
          .user-name {
            margin-top: 18px;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
      .user-stats {
        display: flex;
        flex-direction: column;
        .user-stat-line {
          flex-grow: 1;
          padding: 8px;
          display: flex;
          flex-direction: row;
          white-space: nowrap;
          border-bottom: 1px solid $app-border-color;
          .user-stat-text {
            text-align: left;
            margin-right: 18px;
            flex-grow: 1;
          }
          .right-number {
            flex-grow: 0;
            text-align: right;
            font-weight: 500;
          }
        }
      }
      .user-net {
        margin: 18px 0;
        flex-grow: 1;
        font-size: 18px;
        text-align: center;
        .user-net-text {
          margin-left: 18px;
          color: green;
          &.red {
            color: red;
          }
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
